* {
  margin: 0;
  padding: 0%;
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  box-sizing: border-box;
}
.nav-bar {
  margin: 0.5rem;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.start,
.end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.navbar-links:link {
  text-decoration: none;
  color: #000;
}
.navbar-links:visited {
  color: #000;
}
.sign-in {
  color: #fff;
  background-color: rgb(26, 115, 232);
}
.main {
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.search-bar {
  border: none;
  border-radius: 2rem;
  width: 37rem;
  height: 3rem;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.search-input {
  border: none;
  border-radius: 2rem;
  padding-inline-start: 3rem;
  padding-inline-end: 2.5rem;
  font-size: 1rem;
  width: 40rem;
  height: 3rem;
}
.search-input:focus {
  outline: none;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.btn {
  font-size: 0.9rem;
  padding: 0.3rem 0.8rem;
  border: none;
  border-radius: 0.2rem;
  box-sizing: border-box;
  cursor: pointer;
}
.btn:active {
  box-shadow: 0 1px 6px 0 #e6e6e6;
}
.search-icon {
  margin-left: 1rem;
  position: absolute;
  top: 0.9rem;
}

.mic-icon {
  position: absolute;
  top: 0.9rem;
  left: 35rem;
}
.search-icons {
  height: 1.3rem;
}

/* for Dark Mode */
.dark {
  background-color: #000;
  color: white;
}
.dark:visited {
  color: white;
}
.dark:link {
  color: white;
}
